.pictp_01 {
  background: url("../images/home/pic_zp-01.svg");
}

.pictp_02 {
  background: url("../images/home/pic_zp-02.svg");
}
.new360{
  background: url("../images/home/new360.svg");
  background-size: 100%;
}
.pictp_03 {
  background: url("../images/home/pic_zp-03.svg");
}

.pictp_04 {
  background: url("../images/home/pic_zp-04.svg");
}
.pic_zp-200617{
  background: url("../images/home/pic_zp-200617.svg");
}
.pictp_05 {
  background: url("../images/home/pic_zp-05.svg");
}

.pictp_06 {
  background: url("../images/home/pic_zp-06.svg");
}

.pictp_07 {
  background: url("../images/home/pic_zp-07.svg");
}

.pictp_08 {
  background: url("../images/home/pic_zp-08.svg");
}

.pictp_09 {
  background: url("../images/home/pic_zp-09.svg");
}

.pictp_10 {
  background: url("../images/home/pic_zp-10.svg");
}

.pictp_11 {
  background: url("../images/home/pic_zp-11.svg");
}

.pictp_12 {
  background: url("../images/home/pic_zp-12.svg");
}

.pictp_13 {
  background: url("../images/home/pic_zp-13.svg");
}

.pictp_14 {
  background: url("../images/home/pic_zp-14.svg");
}

.pictp_15 {
  background: url("../images/home/pic_zp-15.svg");
}

.pictp_16 {
  background: url("../images/home/pic_zp-16.svg");
}

.pictp_17 {
  background: url("../images/home/pic_zp-17.svg");
}
.pictp_18 {
  background: url("../images/home/pic_zp-18.svg");
}
.pictp_19 {
  background: url("../images/home/pic_zp-19.svg");
}
.pictp_20 {
  background: url("../images/home/pic_zp-20.svg");
}
.pictp_21 {
  background: url("../images/home/pic_zp-21.svg");
}
.pictp_22 {
  background: url("../images/home/pic_zp-22.svg");
}
.pictp_23 {
  background: url("../images/home/pic_zp-23.svg");
}
.pictp_24 {
  background: url("../images/home/pic_zp-24.svg");
}
.pictp_25 {
  background: url("../images/home/pic_zp-25.svg");
}
.pictp_26 {
  background: url("../images/home/pic_zp-26.svg");
}
.pictp_27 {
  background: url("../images/home/pic0318_01.svg");
}
.pictp_28 {
  background: url("../images/home/pic_zp-28.svg");
  background-size: 100%;
}
.pictp_29 {
  background: url("../images/home/pic_zp-29.svg");
  background-size: 100%;
}
.pictp_30 {
  background: url("../images/home/pic_zp-30.svg");
  background-size: 100%;
}
.Mini-CEXDOPS {
  background: url("../images/home/Mini-CEXDOPS.png");
  background-size: cover;
}
.pictp_32 {
  background: url("../images/home/pictp_32.svg");
  background-size: cover;
}
.reverseOrder {
  background: url("../images/icons/positiveOrder.svg") 100% 100% no-repeat;
}

.positiveOrder {
  background: url("../images/icons/reverseOrder.svg") 100% 100% no-repeat;
}

.layout_content {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 2.5rem;
  overflow-y: scroll;
  word-wrap: break-word;
}

.module {
  background: #fff;
  margin-bottom: .5rem;
}

.warp {
  margin-top: 2.5rem;
  /*padding-top: 2.5rem;*/
}

.center {
  text-align: center;
}

.textR {
  text-align: right;
}

.textL {
  text-align: left;
}

.bl {
  border-left: .07rem solid #ddd;
}

.br {
  border-right: .07rem solid #ddd;
}

.bt {
  border-bottom: .07rem solid #ddd;
}

.mt {
  margin-bottom: .5rem;
}

.m0 {
  margin: 0;
}

.relative {
  position: relative;
}

.van-toast--default {
  width: 4rem;
  height: 4rem;
  min-height: 4rem;
}

.header {
  height: 2.5rem;
  line-height: 2.5rem;
  background: #1a7fe9;
}
.header .van-nav-bar__title {
  color: #fff;
}

.header .van-nav-bar__text {
  color: #fff;
  font-size: 1rem;
}

.header .van-nav-bar__right .van-nav-bar__text {
  font-size: 0.875rem;
}

.header .van-nav-bar__text:active {
  background: #1a7fe9;
}

.van-nav-bar .van-icon {
  color: #fff;
  font-size: 1.2rem;
}

.header {
  z-index: 2000 !important;
}

.a {
  color: #0066cc;
}

.gray {
  color: #969799;
}

.grey {
  color: #8d8d8d;
}

.red {
  color: #e44444;
}

.green {
  color: #4ebc7f;
}
.blue {
  color: #0066cc;
}
.blank {
  color: #000;
}

.bgWhite {
  background: #fff;
}

.successMsg {
  color: #4ebc7f;
}

.bottomBtn {
  bottom: 0;
  top: auto;
  width: 100%;
  height: 2.5rem;
  padding: 0;
  position: fixed;
  /*background-color: #197fe8;*/
  margin-left: auto;
  margin-right: auto;
}

.p9 {
  padding: 0 .9rem;
}

.p5 {
  padding: 0 .5rem;
}

.p2 {
  padding: 0 .2rem;
}

.lh2 {
  line-height: 2rem;
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.tip-empty {
  padding-top: 50%;
  text-align: center;
}
.icon-emptyface {
  height: 1.5rem;
  line-height: 1.5rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url("../images/icons/emptyface.svg");
  padding-left: 2.5rem;
  color: #d3d3d3;
}

.text-empty {
  color: gray;
  line-height: 2rem;
  vertical-align: text-bottom;
}
.van-field--disabled .van-field__control{
  color: #323233 !important;
}

.van-cell-grid{
  margin: 0.4rem;
}

.van-cell-grid .van-cell {
  border-radius: 0.3rem;
  padding: 0 1rem;
}

.layout_content_tow {
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 5rem;
  overflow-y: scroll;
  word-wrap: break-word;
}
